<h1><%= @user.name %>'s Profile</h1>
<p>Email: <%= @user.email %><p>

<nav>
  <%= link_to "coffees", user_coffee_beans_path(current_user) %>
</nav>

<h3>Recipes</h3>
<div class="user-recipes">
  <ul class="list-group">
  <% @recipes.each do |recipe| %>
    <li class="list-group-item"><%= link_to recipe.title, recipe_path(recipe) %></li>
  <% end %>
  </ul>
</div>
