<h1><%= @user.name %></h1>
<p><%= @user.email %><p>


<h3>Recipes</h3>
<div class="user-recipes">
  <ul>
  <% @recipes.each do |recipe| %>
    <li><%= link_to recipe.title, recipe_path(recipe) %></li>
  <% end %>
  </ul>
</div>
