<h1>Coffees</h1>

<% if current_user %>
  <%= link_to "Add coffee", new_user_coffee_bean_path(current_user), class: "btn btn-default" %>
<% end %>

<% @coffees.each do |coffee| %>
  <%= render partial: 'coffee', locals: {coffee: coffee} %>
<% end %>
