// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.recipes-header {
  background: url("http://i.imgur.com/CcTP1.jpg") no-repeat center;
  background-size: cover;
  color: #BF8A55 !important;
}

.form-container {
  position: relative;
}

#hide-form {
  z-index: 9999;
  position: absolute !important;
  top: 0;
  left: -3000px;
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-top: 1em;
  background-color: white;
  -webkit-box-shadow: -7px 8px 15px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: -7px 8px 15px -7px rgba(0,0,0,0.75);
  box-shadow: -7px 8px 15px -7px rgba(0,0,0,0.75);
}

#new-recipe {
  background: white;
  padding: 10px;
}

